<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title=#{title.registraUtente})">
</head>
<body>
	<div>
		<h1 th:text="#{header.registraUtente}">Modifica dati utente</h1>
	</div>
	<form th:action="@{/utente/registrati}" method="POST">
		<table>
			<tr>
				<td><label th:text="#{nome.registraUtente}">Nome</label></td>
				<td><input type="text" placeholder="NOME" 
				th:field="${userForm.nome}"/></td>
				<td th:if="${#fields.hasErrors('userForm.nome')}"
					th:errors="${userForm.nome}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label th:text="#{cognome.registraUtente}">Cognome</label></td>
				<td><input type="text" placeholder="COGNOME" 
				th:field="${userForm.cognome}"/></td>
				<td th:if="${#fields.hasErrors('userForm.cognome')}"
					th:errors="${userForm.cognome}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>
					<button class="myButton" type="submit" th:text="#{button.registraUtente}">Modifica</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>