<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout.html :: headerfiles(title=#{title.progetti})">
</head>
<body>
	<div>
	<header>
    </header>
        	<h1 th:text="#{header.progetti}">Progetti</h1>
    	<table class="tableProgetti1">
    		<thead>
    			<tr class="table2">
    				<th th:text="#{nome.progetti}"></th>
    				<th th:text="#{descrizione.progetti}"></th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="progetto : ${progetti}">
    				<td><a href="progetto.html" 
				   th:href="@{'/progetto' + '/' + ${progetto.id}}" 
				   th:text="${progetto.nome}">Nome</a></td>
    				<td th:text="${progetto.descrizione}"></td>
    			</tr>
    		</tbody>
    	</table>
		<div class="c1">
			<footer><a href="/home" th:text="#{fondo.progetti}">Home</a></footer>
		</div>
	</div>	
</body>
</html>